parameters:
    level: 5
    paths:
        - src
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
    - message: '#Class LaravelZero\\Framework\\Providers\\Collision\\CollisionServiceProvider extends @final class NunoMaduro\\Collision\\Adapters\\Laravel\\CollisionServiceProvider#'
      path: src/Providers/Collision/CollisionServiceProvider.php
