name: Static Analysis

on: ['push', 'pull_request']

jobs:
  pint:
    runs-on: ubuntu-latest

    name: Pint

    steps:

      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: zip
          tools: composer
          coverage: none

      - name: Install PHP dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: highest
          composer-options: "--prefer-dist"

      - name: Run Pint
        run: vendor/bin/pint --test --ansi

  phpstan:
    runs-on: ubuntu-latest

    name: PHPStan

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.2
        extensions: zip
        tools: composer
        coverage: none

    - name: Install PHP dependencies
      uses: ramsey/composer-install@v2
      with:
        dependency-versions: highest
        composer-options: "--prefer-dist"

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse --no-progress --ansi
